* {
  margin: 0;
  padding: 0;
}

.board {
  background-color: green;
  height: 300px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position: relative;
  right: -100px;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#car {
  display: inline-block;
  position: relative;
}

#carImgDiv {
  display: inline-block;
}

#title {
  padding: 10px;
  color: #cf0c0c;
  text-align: center;
}

.road {
  background-color: #333036;
}

#car-path {
  height: 50px;
  margin: 0;
  background-color: #333036;
}

.lane {
  display: inline-block;
}
